// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue           : #3490dc;
$indigo         : #6574cd;
$purple         : #9561e2;
$pink           : #f66d9b;
$red            : #e3342f;
$orange         : #f6993f;
$yellow         : #ffed4a;
$green          : #38c172;
$teal           : #4dc0b5;
$cyan           : #6cb2eb;

$primary        : #183558; /* rgb(24, 53, 88); */
$primary-2      : #018DC0; /* rgb(1, 141, 192); */
$primary-4      : #00619e; 
$secondary      : #00aed9;
$secondary-light: #F4F8FA; /* rgb(244, 248, 250) */
$text-light     : #757989; /* rgb(117, 121, 137) */
$text-light-2   : #AAB1C7; /* rgb(170, 177, 199) */
$border-light   : #CCCCCC; /* rbg(204, 204, 204) */
$border-light-2 : #D9DDE9; /* rgb(217, 221, 233) */
$red-heart      : #FF7171; /* rgb(255, 113, 113); */
$gray-3         : rgb(153, 153, 153);
$primary-3      : rgb(0, 174, 217)